<div class="MainFormArea">
  <div class="doc">
    <h2>Аккаунты</h2>
    <%= form_with(model: social_account, local: true, class: "social_accountForm") do |form| %>
      <% if social_account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(social_account.errors.count, "error") %> prohibited this social_account from being saved:</h2>

          <ul>
          <% social_account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="choose">
        <h3>Выберите аккаунт</h3>
        <%= form.select(:title, %w{Выберите Facebook Instagram Tumblr Twitter YouTube}) %>
      </div>

      <div class="login">
        <h3>Введите данные</h3>
        <%= form.email_field :login, placeholder: "Логин" %>
        <div class="form-group">
          <%= form.password_field :password, placeholder: "Пароль", value: social_account.password %>
          <div class="passwordVisibilityButton"> </div>
        </div>
      </div>

      <div class="BodyFormSmall">
        <h3>Добавьте комментарий</h3>
        <%= form.text_area :body, placeholder: "Напишите..." %>
      </div>

      <div class="radio_button">
        <h3>Что сделать с аккаунтом?</h3>
        <%= form.radio_button :action, 'Удалить', :checked => true %>
        <%= label :action, 'Удалить' %> <br>
        <%= form.radio_button :action, 'Удалить и вывести средства' %>
        <%= label :action, 'Удалить и вывести средства' %> <br>
      </div>

      <div class="receiver">
        <h3>Получатель</h3>
        <% if @social_account.save %>
          <% @inheritor = AccountTransfer.take.inheritor_email %>
          <h4> <%= @inheritor %></h4>
        <% else %>
            <%= email_field "account_transfer", "inheritor_email" %>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit 'Сохранить' %>
      </div>
    <% end %>
  </div>
</div>
