<% @inherited_accounts.each do |i| %>
  <% social_account = i.transferable %>
  <% if i.transferable.class == SocialAccount %>

    <% if i.accepted %>
    <% else %>
      <div class="card">
        <div class="previev_unaccepted"></div>
        <div class="previev <%= social_account.title %>"></div>
        <div class="TitleWrap">
          <div class="card_title"></div>
          <h4><%= social_account.title %></h4>
          <p class="transmitter_email"><%= social_account.email %></p>
        </div>

        <div class="editing">
          <div class="ForFake">
            <div class="popup_obtain">
              <div class="ActionForCard">
                <h4>Поручение</h4>
                <h5><%= social_account.action %></h5>
              </div>
              <div class="ButtonForCard">
                <div class="UnacceptWrapper">
                    <%= link_to 'Отказаться', unaccept_social_account_account_transfer_path(social_account), method: :delete, data: { confirm: 'Are you sure?'} %>
                </div>
                <div class="AcceptWrapper">
                    <%= link_to 'Согласиться', accept_social_account_account_transfer_path(social_account), method: :put %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  <% end %>
<% end %>
