<% if social_account.present? %>
<%# @social_accounts.each do |social_account| %>
  <%# if current_user && social_account.user_id != current_user.id %>
    <div class="card">
      <div class="previev_unaccepted"></div>
      <div class="previev <%= social_account.title %>"></div>

      <div class="card_title">
        <h4><%= social_account.title %></h4>
        <p class="transmitter_email"><%= social_account.email %></p>
      </div>

      <div class="editing">
        <div class="popup">
            <div class="EditWrapper">
              <div class="Icon" id="AcceptedIcon"></div>
              <li>
                <%= link_to 'Принять', accept_account_transfer_path(social_account), method: :put %>
              </li>
            </div>
            <div class="TrashWrapper">
              <div class="Icon" id="UnacceptedIcon"></div>
              <li>
                <%= link_to 'Отклонить', social_account, method: :delete, data: { confirm: 'Are you sure?'} %>
              </li>
            </div>
        </div>
      </div>

    </div>
  <% end %>
  <%# end %>
<%# end %>

<!-- <div class="card">
  <div class="card_new">
    <%#= link_to '', new_social_account_path %>
  </div>
  <div class="add"></div>
</div> -->
