<% @inherited_accounts.each do |i| %>
  <% subscription = i.transferable %>
  <% if i.transferable.class == Subscription %>

    <% if i.accepted %>
      <div class="card">
        <div class="previev <%= subscription.title %>"></div>
        <div class="card_title">
          <h4><%= subscription.title %></h4>
          <p class="transmitter_email"><%= subscription.email %></p>
        </div>

        <div class="editing">
          <div class="popup">

              <div class="UnacceptWrapper">
                <div class="Icon" id="UnacceptedIcon"></div>
                <li>
                  <%= link_to 'Отклонить', unaccept_subscription_account_transfer_path(subscription), method: :delete, data: { confirm: 'Are you sure?'} %>
                </li>
              </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card">
        <div class="previev_unaccepted"></div>
        <div class="previev <%= subscription.title %>"></div>
        <div class="card_title">
          <h4><%= subscription.title %></h4>
          <p class="transmitter_email"><%= subscription.email %></p>
        </div>

        <div class="editing">
          <div class="popup">
              <div class="AcceptWrapper">
                <div class="Icon" id="AcceptedIcon"></div>
                <li>
                  <%= link_to 'Принять', accept_subscription_account_transfer_path(subscription), method: :put %>
                </li>
              </div>
              <div class="UnacceptWrapper">
                <div class="Icon" id="UnacceptedIcon"></div>
                <li>
                  <%= link_to 'Отклонить', unaccept_subscription_account_transfer_path(subscription), method: :delete, data: { confirm: 'Are you sure?'} %>
                </li>
              </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
<% end %>
