<div class="MainCardsArea">
  <% if @inherited_accounts.exists? %>

    <% if AccountTransfer.where(:transferable_type => "Document", :inheritor_id => current_user.id).present? %>
      <section id="s1" class="main">
          <h2 class="section_header">Документы</h2>
          <section class="cards_area">

             <%= render "documents" %>

          </section>
      </section>
    <% end %>


    <% if AccountTransfer.where(:transferable_type => "SocialAccount", :inheritor_id => current_user.id).present? %>
      <section id="s2" class="main">
        <h2 class="section_header">Аккаунты</h2>
        <section class="cards_area">

           <%= render "social_accounts" %>

        </section>
      </section>
    <% end %>


    <% if AccountTransfer.where(:transferable_type => "Wallet", :inheritor_id => current_user.id).present? %>
      <section id="s3" class="main">
        <h2 class="section_header">Кошельки</h2>
        <section class="cards_area">

           <%= render "wallets" %>

        </section>
      </section>
    <% end %>


    <% if AccountTransfer.where(:transferable_type => "Subscription", :inheritor_id => current_user.id).present? %>
      <section id="s4" class="main">
        <h2 class="section_header">Подписки</h2>
        <section class="cards_area">

           <%= render "subscriptions" %>

        </section>
      </section>
    <% end %>


      <% if AccountTransfer.where(:transferable_type => "Instruction", :inheritor_id => current_user.id).present? %>
      <section id="s5" class="main">
        <h2 class="section_header">Наставления</h2>
        <section class="cards_area">

           <%= render "instructions" %>

        </section>
      </section>
    <% end %>


  <% else %>
    <%= render "blank" %>
  <% end %>
</div>

<div class="interval"></div>
