

<div class="MainCardsArea">



<% if @inherited_accounts.exists? || @inherited_responsibilitys.exists? %>


    <% if AppointResponsible.where(:inheritor_id => current_user.id).present? %>
      <%# if AppointResponsible.where(:file => nil).present? %>
        <section class="main">
            <h2 class="section_header">Ответственность</h2>
            <section class="cards_area">

            <div class="closed_banner" id="up">
              <div class="banner">
                <div class="banner_img1"></div>
                <div class="close_button" id="down"></div>
              </div>
            </div>

               <%= render "responsibilitys" %>
               <%= render "responsibilitys_accepted" %>

            </section>
        </section>
      <%# end %>
    <% end %>




    <% if AccountTransfer.where(:inheritor_id => current_user.id, :accepted => false).present? %>
      <section id="s2" class="main">
        <h2 class="section_header">Не принятые активы</h2>
        <section class="cards_area">

           <%= render "social_accounts" %>
           <%= render "subscriptions" %>
           <%= render "wallets" %>

        </section>
      </section>
    <% end %>


    <% if AccountTransfer.where(:inheritor_id => current_user.id, :accepted => true).present? %>
      <section id="s2" class="main">
        <h2 class="section_header">Принятые активы</h2>
        <section class="cards_area">

           <%= render "social_accounts_accepted" %>
           <%= render "subscriptions_accepted" %>
           <%= render "wallets_accepted" %>

        </section>
      </section>
    <% end %>

  <% else %>
    <%= render "blank" %>
  <% end %>

</div>

<div class="interval"></div>
