<div class="MainFormArea">
  <div class="doc">
    <h2>Наставления</h2>
    <%= form_with(model: instruction, local: true) do |form| %>
    <% if instruction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(instruction.errors.count, "error") %> prohibited this instruction from being saved:</h2>

        <ul>
        <% instruction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="title">
        <h3></h3>
        <%= form.text_field :title, placeholder: "Ваш заголовок..." %>
      </div>

      <div class="body">
        <%= form.text_area :body, placeholder: "Напишите Ваше наставление..." %>
      </div>

      <div class="receiver">
        <h3>Получатель</h3>
        <% if @instruction.save %>
          <% @inheritor = AccountTransfer.find_by_id(params[:id]).inheritor_email %>
          <h4> <%= @inheritor %></h4>
        <% else %>
            <%= email_field "account_transfer", "inheritor_email" %>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit 'Сохранить' %>
      </div>
    <% end %>
  </div>
</div>
