<div class="MainFormArea">
  <div class="doc">
    <h2>Документы</h2>
    <%= form_with(model: document, local: true) do |form| %>
      <% if document.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

          <ul>
          <% document.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

      <div class="title">
        <h3></h3>
        <%= form.text_field :title, placeholder: "Ваш заголовок..." %>
      </div>

      <div class="body">
        <%= form.text_area :body, placeholder: "Напишите комментарий..." %>
      </div>

      <div class="imguploader">
        <label class="custom-file-upload">
          <%= form.file_field :image %>
        </label>
          <%= image_tag document.image.url, style: "width: 229px; height: 65px; border-radius: 29px; margin-bottom: 60px;" if @document.image? %>
      </div>


      <div class="receiver">
        <h3>Получатель</h3>
        <% if @document.save %>
          <% @inheritor = AccountTransfer.take.inheritor_email %>
          <h4> <%= @inheritor %></h4>
        <% else %>
            <%= email_field "account_transfer", "inheritor_email" %>
        <% end %>
      </div>


      <div class="actions">
        <%= form.submit 'Сохранить' %>
      </div>
    <% end %>
  </div>
</div>
