<div class="MainFormArea">
    <div class="doc">
    <h2>Кошельки</h2>
    <%= form_with(model: wallet, local: true, class: "walletForm") do |form| %>
      <% if wallet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

          <ul>
          <% wallet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="choose">
        <h3>Выберите кошелек</h3>
        <%= form.select(:title, %w{Выберите Webmoney Qiwi PayPal YandexMoney}) %>
      </div>

      <div class="login">
        <h3>Введите данные</h3>

          <%= form.email_field :login, placeholder: "Логин" %>
        <div class="form-group">
          <%= form.password_field :password, placeholder: "Пароль", value: wallet.password %>
          <div class="passwordVisibilityButton"> </div>
        </div>
      </div>


      <div class="BodyFormSmall">
        <h3>Добавьте комментарий</h3>
        <%= form.text_area :body, placeholder: "Напишите..." %>
      </div>

      <div class="receiver">
        <h3>Получатели</h3>
        <%= form.email_field :receiver, placeholder: "Введите почту получателя..." %>
      </div>

      <div class="actions">
        <%= form.submit 'Сохранить' %>
      </div>
    <% end %>
  </div>
</div>
