<div class="doc">
    <h2>Подписки</h2>
    <%= form_with(model: subscription, local: true) do |form| %>
      <% if subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

          <ul>
          <% subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="title">
      <h3>Введите URL</h3>
      <%= form.text_field :title, placeholder: "www.site.ru" %>
    </div>


    <div class="login">
      <h3>Введите данные</h3>
      <input type="email" placeholder="E-mail" class="form-control" name="email" value="">
        <div class="col-md-6">
          <input id="password-field" type="password" placeholder="Пароль" class="form-control" name="password">
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
    </div>

    <div class="body">
      <h3>Добавьте комментарий</h3>
      <%= form.text_area :body, placeholder: "Напишите..." %>
    </div>

    <div class="receiver">
      <h3>Получатели</h3>
      <%= form.select(:receiver, %w{Выберите mary@gmail.com denis@gmail.com andrey@gmail.com}) %>
    </div>

    <div class="actions">
      <%= form.submit 'Сохранить' %>
    </div>
  <% end %>
</div>
