<% accounts = {} %>

<% current_user.inherited_accounts.each do |account| %>
  <% accounts[account.transmitter_id] = [] %>
<% end %>

<%#= accounts %>

<% current_user.inherited_accounts.each do |account| %>
  <% accounts[account.transmitter_id].push(account.transferable_type) %>
<% end %>

<%#= accounts %>


<section class="main_inheritance">



  <% url_number = request.path.last %>
  <% accounts.each do |key, value| %>
    <% if key == url_number.to_i %>

    <div class="dead_user">
      <h3><%= User.find(key).email %></h3>
    </div>

        <% if value.include?("Document") %>
          <h2 class="section_header">Документы</h2>
          <%= render "documents" %>
        <% end %>



        <% if value.include?("Instruction") %>
          <h2 class="section_header">Наставления</h2>
          <%= render "instructions" %>
        <% end %>


    <% if value.include?("SocialAccount" || "Wallet" || "Subscription") %>
        <h2 class="section_header">Виртуальные активы</h2>
        <section class="cards_area">

            <% if value.include?("SocialAccount") %>
              <%= render "social_accounts" %>
            <% end %>

            <% if value.include?("Wallet") %>
                <%= render "wallets" %>
            <% end %>

            <% if value.include?("Subscription") %>
              <%= render "subscriptions" %>
            <% end %>

        </section>
    <% end %>

          <div class="backward_button">
            <%= link_to 'Назад', memory_index_path %>
          </div>


    <% end %>
  <% end %>

</section>

<div class="interval"></div>
