

<div class="custodian_container">
<%= render 'appoint_responsibles/form' %>

  <div class="custodian_container_title">
    <p>Ваши хранители</p>
  </div>


        <% @appoint_responsibles = AppointResponsible.where(:user_id => current_user.id) %>
          <% if @appoint_responsibles.present? %>
            <% @appoint_responsibles.each do |appoint_responsible| %>
                <% if appoint_responsible.accepted %>
                  <div class="custodian_container_content">
                      <p><%= appoint_responsible.inheritor_email %></p>
                      <div class="delete_custodian">
                        <%= link_to '', appoint_responsible, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                  </div>
                <% else %>
                  <div class="custodian_container_content">
                      <p><%= appoint_responsible.inheritor_email %></p> <div class="unaccepted_custodian"></div>
                      <div class="delete_custodian">
                        <%= link_to '', appoint_responsible, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                  </div>
                <% end %>
            <% end %>
            <p>Еще один текст о том, кто такие хранители и зачем они нужны</p>
          <% else %>
            <p>Текст о том, кто такие хранители и зачем они нужны</p>
          <% end %>

  <%#= link_to 'Назначить', new_appoint_responsible_path %>


</div>
