
<section class="main">
  <div class="MainFormArea">
    <p id="notice"><%= notice %></p>

    <h1>Ваши хранители</h1>

    <table>
      <thead>
        <tr>
          <!-- <th colspan="3"></th> -->
        </tr>
      </thead>

      <tbody>
        <% @appoint_responsibles.each do |appoint_responsible| %>
        <% if appoint_responsible.accepted %>
          <tr>
            <td><%= appoint_responsible.inheritor_email %></td>
            <td><%#= link_to 'Show', appoint_responsible %></td>
            <td><%#= link_to 'Edit', edit_appoint_responsible_path(appoint_responsible) %></td>
            <td><%= link_to 'Destroy', appoint_responsible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= appoint_responsible.inheritor_email %> Не подтверждено </td>
            <td><%#= link_to 'Show', appoint_responsible %></td>
            <td><%#= link_to 'Edit', edit_appoint_responsible_path(appoint_responsible) %></td>
            <td><%= link_to 'Destroy', appoint_responsible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>





    <table>
      <thead>
        <tr>
          <!-- <th colspan="3"></th> -->
        </tr>
      </thead>

      <tbody>
        <%# @transfered_responsibilitys.each do |t| %>
        <%# appoint_responsible = AppointResponsible %>
          <tr>
            <td><%#= t.inheritor_email %></td>
            <td><%#= link_to 'Show', appoint_responsible %></td>
            <td><%#= link_to 'Edit', edit_appoint_responsible_path(appoint_responsible) %></td>
            <td><%#= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>





    <br>

    <%= link_to 'Назначить хранителя', new_appoint_responsible_path %>
  </div>
</section>
