<% @transfered_accounts.each do |t| %>
  <% subscription = t.transferable %>

  <% if t.transferable.class == Subscription %>
    <% if t.accepted %>
      <div class="card">
        <div class="previev <%= subscription.title %>"></div>
        <div class="TitleWrap">
          <div class="card_title"></div>
          <h4><%= subscription.title %></h4>
        </div>

        <div class="editing_transmit">
          <div class="popup_transmit">
              <div class="EditWrapper">
                <div class="Icon" id="EditIcon"></div>
                <li>
                  <%= link_to 'Редактировать', edit_subscription_path(subscription) %>
                </li>
              </div>
              <div class="TrashWrapper">
                <div class="Icon" id="TrashIcon"></div>
                <li>
                  <%= link_to 'Удалить', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              </div>
          </div>
        </div>
      </div>
    <% else %>
    <div class="card">
      <div class="previev_unaccepted"></div>
      <div class="previev <%= subscription.title %>"></div>
      <div class="TitleWrap">
        <div class="card_title"></div>
        <h4><%= subscription.title %></h4>
      </div>

      <div class="editing_transmit">
        <div class="popup_transmit">
            <div class="EditWrapper">
              <div class="Icon" id="EditIcon"></div>
              <li>
                <%= link_to 'Редактировать', edit_subscription_path(subscription) %>
              </li>
            </div>
            <div class="TrashWrapper">
              <div class="Icon" id="TrashIcon"></div>
              <li>
                <%= link_to 'Удалить', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

<% end %>
