
<%= render "nav_bar" %>

<section id="s1" class="main_first">
  <h2 class="section_header">Аккаунты</h2>
  <section class="cards_area">

     <%= render "social_accounts" %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_social_account_path %>
      </div>
      <div class="add"></div>
    </div>

  </section>
</section>


<section id="s2" class="main">
  <h2 class="section_header">Кошельки</h2>
  <section class="cards_area">

     <%= render "wallets" %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_wallet_path %>
      </div>
      <div class="add"></div>
    </div>

  </section>
</section>


<section id="s3" class="main">
  <h2 class="section_header">Подписки</h2>
  <section class="cards_area">

     <%= render "subscriptions" %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_subscription_path %>
      </div>
      <div class="add"></div>
    </div>

  </section>
</section>


<section id="s4" class="main">
  <h2 class="section_header">Документы</h2>
  <section class="cards_area">

     <%= render "documents" %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_document_path %>
      </div>
      <div class="add"></div>
    </div>

  </section>
</section>


<section id="s5" class="main">
  <h2 class="section_header">Наставления</h2>
  <section class="cards_area">

     <%= render "instructions" %>

    <div class="card">
      <div class="card_new">
        <%= link_to '', new_instruction_path %>
      </div>
      <div class="add"></div>
    </div>

  </section>
</section>

<div class="interval"></div>
