<!DOCTYPE html>
<html>
  <head>
    <title>Meta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <% if user_signed_in? %>

      <section class="settingsbutton">

        <%= link_to root_path do %>
           <div class="logo"></div>
        <% end %>

        <div class="SectionButton">
          <div class="TransmitMenuButton">
            <%= link_to 'Передаю', root_path %>
          </div>

          <div class="ObtainMenuButton">
            <%= link_to 'Получаю', obtain_index_path %>
          </div>
        </div>


        <div class="user"></div>
            <div class="user_popup" id="up">
                <div class="logout">
                <div class="exitfrompopup">
                  <div class="exitbutton" id="down"></div>
                </div>
                <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
                </div>
            </div>



      </section>

      <section class="nav">
        <ul class="sidebar">
          <div class="IconWrapper">
            <div class="Icon" id="DocumentIcon"></div>
            <li><a href="#s1">Документы</a></li>
          </div>
          <div class="IconWrapper">
            <div class="Icon" id="AccountIcon"></div>
            <li><a href="#s2">Аккаунты</a></li>
          </div>
          <div class="IconWrapper">
            <div class="Icon" id="WalletIcon"></div>
            <li><a href="#s3">Кошельки</a></li>
          </div>
          <div class="IconWrapper">
            <div class="Icon" id="SubscriptionIcon"></div>
            <li><a href="#s4">Подписки</a></li>
          </div>
          <div class="IconWrapper">
            <div class="Icon" id="InstructionIcon"></div>
            <li><a href="#s5">Наставления</a></li>
          </div>
        </ul>
    </section>

    <% end %>

    <%= yield %>

  </body>
</html>
