<!DOCTYPE html>
<html>
  <head>
    <title>Meta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>

      <% if controller_name != 'AppointResponsible' && action_name != 'edit' && action_name != 'show' %>

      <section class="settingsbutton">

        <%= link_to root_path do %>
          <div class="logo"></div>
        <% end %>

        <div class="SectionButton">
          <% a = AccountTransfer.where(:inheritor_id => current_user.id, :accepted => false, :transferable_type => ["Wallet", "SocialAccount", "Subscription"]) %>
          <% if a.exists? %>
            <div class="red_point">
              <p> <%= a.count %> </p>
            </div>
          <% end %>

          <% b = current_user.inherited_accounts.where(:inheritor_id => current_user.id, :checked => true) %>
          <% if b.exists? %>
            <div class="memory_point">
              <p>!</p>
            </div>
          <% end %>

          <div class="TransmitMenuButton">
            <%= link_to 'Передаю', root_path %>
          </div>

          <div class="ObtainMenuButton">
            <%= link_to 'Получаю', obtain_index_path %>
          </div>

          <div class="MemoryMenuButton">
            <%= link_to 'Память', memory_index_path %>
          </div>

          <div class="AppointMenuButton">
            <%= link_to 'Назначить хранителя' %>
              <div class="ForFakeAppoint">
                <div class="popup_appoint"><%= render "appoint_responsibles/index" %></div>
              </div>
          </div>

            <div class="ForFakeAppoint">
              <div class="popup_appoint"><%= render "appoint_responsibles/index" %></div>
            </div>
          </div>


        <div class="user"></div>

        <div class="user_popup" id="up">
          <div class="logout">
            <div class="exitfrompopup">
              <div class="exitbutton" id="down"></div>
            </div>

            <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </section>

      <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>
